<!--
  Generated template for the RulesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button class="btn-profile">
      <ion-icon ios="ios-person" md="md-person"></ion-icon>
    </button>
    <ion-title>Hello, Raoní</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--
  <ion-list>
    <ion-item >
      <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
        <button ion-button block (click)="expandItem(item)">
          <ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon>
        </button>
      </expandable>
    </ion-item>
  </ion-list>
-->

  <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
    <ion-card *ngFor="let item of items">

      <ion-card-content [ngClass]="item.expanded ? expanded : non-expanded">

        <ion-label class="rule-label">{{item.name}}</ion-label>

        <button class="btn-arrow">
          <ion-icon ios="ios-arrow-up" md="md-arrow-up"></ion-icon>
        </button>

        <button class="btn-arrow">
          <ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon>
        </button>

        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>

        <button ion-button block (click)="expandItem(item)">
          <ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon>
        </button>

        <expandable *ngIf="item.expanded" [expandHeight]="itemExpandHeight" [expanded]="item.expanded">

        </expandable>


      </ion-card-content>

    </ion-card>
  </ion-list>
  <ion-fab class="fab-button">
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>



</ion-content>