page-rules {

        .non-expanded {
                display:  inline-block;
                height: 100px;
                transition: 0.5s linear;
        }

        .expanded{
                display:  inline-block;
                height: 200px; 
                transition: 0.5s linear;
        }


        ion-fab.fab-button {
                position: relative;
                float:  right;
                bottom:  -85%;
                margin-right: 3%;
        }

        button.disable-hover.button.button-default{
                position: relative;
                float: right;
                bottom: 5px;        
        }

        ion-label.rule-label.label {
                position:  relative;
                float:  left;
                bottom: 5px;
        }

        button.btn-arrow {
                position:  relative;
                right: -40%;
                top: 7px;
                background-color: Transparent;
                border: none;
                outline: none;
                height:  30px;
                width:  30px;
        }

        button.btn-expandable {
                position:  relative;
                float:  left;
                width: 100%;
                
            }
   
            button.btn-profile {
                background-color: Transparent;
                border: none;
                outline: none;
                position:  relative;
                float:  left;
            }
          
           button.btn-profile {
                font-size:  25px;
                position:  relative;
                float:  left;
                background-color: Transparent;
                border: none;
                outline: none;
        }

        ion-title{
                position: relative;
                top: 6px;
        }
}
