expandable {
        .expand-wrapper{
                height: 0px;
                transition: 0.5s linear;
        }
       
        .expanded{
                height: 200px !important;
        }

        
}
